@import url("./fonts.css");
@import "tailwindcss";

@theme {
  --color-blue: #055AB0;
  --color-light-blue: #6D9CCB;
  --color-gold: #DFA61D;
  --color-off-white: #F8F8F5;
  --color-off-black: #2C2C2C;
  --color-off-transparent: rgba(218, 218, 218 , 0.3);

  --font-default: "Fraunces";
}

@layer components{
  .heading{
    @apply text-5xl xl:text-6xl font-bold;
    color: var(--color-black);
  }

  .header{
    @apply text-2xl xl:text-3xl font-semibold;
    color: var(--color-off-black); 
  }

  .nav-link{
    @apply text-xs xl:text-sm font-light uppercase;
  }

  .para{
    @apply text-base xl:text-xl font-light text-center xl:text-justify;
  }
  .para-small{
    @apply text-lg font-light text-justify;
  }

  .label{
    @apply text-sm font-thin uppercase;
  }
  
  .label-large{
    @apply text-sm font-semibold uppercase;
  }


  .product-header{
    @apply text-3xl capitalize;

  }

  .product-price{
    @apply text-3xl uppercase;

  }





}